:root {

}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul li a:link, 
nav ul li a:visited {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #c20e0e;
}

#header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-left: 1.25em;
}

img {
  display: block;
  max-width: 100%;
}

.sample-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:  2.5em;
  gap: 1em;
}

.cream-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:  2.5em;
  gap: 1em;
}